<%= render "layouts/header"  %>
<%= render "layouts/sidenav"  %>
<% if ($userRole_frm == "Supplier")  %>  
    <h3 >Suppliers don't have permission to access this page</h3>
<% else %>
<div class="templaterightwrap">  
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentheader"> 
        <div class="pull-left"> <h3 class="pageheading"> Schedule</h3></div>
        
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar">                   
        <div class="table-responsive">
            <table class="table table-bordered gridTable" id="schedule">
            <thead class="gridheader">
              <tr>
                <th>Date</th>
                <th>Injection Point 1</th>
                <th>Injection Point 2</th>   
                <th>Offtake Ex1</th>  
                <th>Offtake Ex2</th>
             </tr>
            </thead>
                <tbody>                          
                 <% @schedules.each do |key,value| %>
                    <% value.each do |val| %>                                    
                            <tr>                              
                                <td><%= val["date"] %></td>
                                <td><%= val["injPt1"] %></td>
                                <td><%= val["injPt2"] %></td>
                                <td><%= val["offtake1"] %></td>
                                <td><%= val["offtake2"] %></td>
                            </tr>                                                                     
                    <% end %>                              
                <% end %>
            </tbody>
            
          </table>
        </div>
    </div>
</div>
<% end %>