html, body {
    height: 100% !important;
    margin: 0;
    background-color:#9CA897;
    /*background-image: asset-data-url("bg.png");
    background-repeat:no-repeat;
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/    
}
.nopadmar,.row{
    padding:0 !important;
    margin:0 !important;
}

.loginTopSpace{
    margin-top:120px;
}

.loginwrap{
    background-image:asset-data-url("login-bg.png");
    background-repeat:no-repeat;
    background-position: top center;
    padding:20px 30px 55px 30px;
    text-align:center;
    margin-top:20px;
}
.loginwrap h1{
    color:#024657;
    padding-bottom:20px;
    font-size:36px;
}
.logininput{
    width: 65%;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 10px 10px 60px;
    background-image: asset-data-url("username-icon.png");
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: top 9px left 20px;
    font-size: 13px;
}
.pwdinput{
    width: 65%;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 10px 10px 60px;
    background-image: asset-data-url("password-icon.png");
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: top 9px left 20px;
    font-size: 13px;
}
.login-btn{
    width: 65%;
    padding: 8px;
    margin-top: 10px;
    background: #12adbb;
    font-size: 18px;
    border:none;
    border-radius:3px;
    color:#fff;
}
.login-btn:hover{
    background:#08c2f0;
}







/****** LOGIN MODAL ******/
.header{
    background: #757575;
    margin: 0px;
    padding: 20px;
    color: #fff;
}
.templaterightwrap{
    width:80%;
    float:left;
    padding-left:5%;
    background:#fff;
}

.sidenavwrap {
    margin-left: 0px;
    height: 100%;
    background:#428bca;
    width:15%;
    float:left;
}
.sidebar-nav {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background:#428bca;
}

.sidebar-nav li {
    text-indent: 10px;
    font-size:16px;
    line-height:45px;
    border-bottom:1px solid #357ebd;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #357ebd;
}

.sidebar-nav li.active,
.sidebar-nav li.focus {
    text-decoration: none;
    background: #357ebd;
}
.pageheading{
    margin-bottom:20px;
    margin-top:0px;
    color:#357ebd;
}
.gridTable{
    margin-top:50px;
    font-size:13px;
}
.gridheader{
    background: #428bca;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.contentheader{
    padding-top: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
}
.btn-top-spacing{
    margin-top:20px;
}