/* Media Queries */

/* Mobile and Tablet Layout */
@media screen and (max-width: 767px) {
    .container-fluid{
        padding:0px;
    }
    .loginTopSpace{
        margin-top:50px;
    }
    .loginwrap h1{
        font-size:24px;
    }
    .loginwrap{
        padding:0px 0px 40px 0px;
    }
    .logininput, .pwdinput, .login-btn{
        width:100%;
    }
}

/* Tablet Layout */
@media screen and (min-width: 768px) and (max-width: 991px)  {
	
}