<div class="sidenavwrap"> 
<ul class="sidebar-nav">              
                   <li>
                        <a href="#"> <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a>
                    </li>
                    <li class="<%= is_active?('/nominations') %> <%= is_active?('/nominations/new') %>">
                        <%= link_to '/nominations'  do %>
                            <span class="glyphicon glyphicon-modal-window"></span>&nbsp;&nbsp;Nominations
                        <% end %>
                    </li>
                    <li class="<%= is_active?('/nominations/schedule') %>">
                         <%= link_to '/nominations/schedule' do %>
                            <span class="glyphicon glyphicon-modal-window"></span>&nbsp;&nbsp;scheduling
                        <% end %>
                    </li>
                    <li>
                        <a href="#"> <span class="glyphicon glyphicon-scale"></span>&nbsp;&nbsp;Consumption</a>
                    </li>
                    <li>
                        <a href="#"> <span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;Billing</a>
                    </li>
                   <li class="<%= is_active?('/nominations/notification') %>">
                        <%= link_to '/nominations/notification' do %>
                            <span class="glyphicon glyphicon-modal-window"></span>&nbsp;&nbsp;Notifications
                        <% end %>
                    </li>
                    <li>
                        <a href="#"> <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a>
                    </li>
                        <li>
                        <a href="#"> <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;Report an issue</a>
                    </li>
                        <li>
                        <a href="#"> <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Help</a>
                    </li>
                </ul>
    </div>
